note/meeting_note/meeting_note.log
note/meeting_note/meeting_note.pdf
note/meeting_note/meeting_note.synctex.gz
note/research_note/research_note.log
note/research_note/research_note.pdf
note/research_note/research_note.synctex.gz

note/note_SIPLIB2.0.log
note/note_SIPLIB2.0.synctex.gz
note_SIPLIB2.0.pdf

siplib.pdf

paper/siplib.log
paper/siplib.synctex.gz
paper/siplib.aux
paper/siplib.bbl
paper/siplib.blg
paper/siplib.out


doc/siplib_manual.log
doc/siplib_manual.synctex.gz
doc/siplib_manual.aux
doc/siplib_manual.bbl
doc/siplib_manual.blg
doc/siplib_manual.out

*.lot
doc/siplib_manual.log
doc/siplib_manual.pdf
doc/siplib_manual.synctex.gz
siplib.toc
siplib.lof
doc/tutorial_add_problem/tutorial_add_problem.aux
doc/tutorial_add_problem/tutorial_add_problem.bbl
doc/tutorial_add_problem/tutorial_add_problem.blg
doc/tutorial_add_problem/tutorial_add_problem.log
doc/tutorial_add_problem/tutorial_add_problem.out
doc/tutorial_add_problem/tutorial_add_problem.pdf
doc/tutorial_add_problem/tutorial_add_problem.synctex.gz
paper/siplib-tutorial.pdf

*.cor
*.sto
*.tim
*.sh
slide/CHO_INFORMS_2018.aux
slide/CHO_INFORMS_2018.log
slide/CHO_INFORMS_2018.nav
slide/CHO_INFORMS_2018.pdf
slide/CHO_INFORMS_2018.snm
slide/CHO_INFORMS_2018.synctex.gz
slide/CHO_INFORMS_2018.toc

*.gz
*.aux
*.bbl
*.blg
*.out

slide/version1/CHO_INFORMS_2018.log
slide/version1/CHO_INFORMS_2018.nav
slide/version1/CHO_INFORMS_2018.pdf
slide/version1/CHO_INFORMS_2018.toc
slide/version2/CHO_INFORMS_2018.log
slide/version2/CHO_INFORMS_2018.pdf
slide/version2/CHO_INFORMS_2018.synctex.gz(busy)
