note/meeting_note/meeting_note.log
note/meeting_note/meeting_note.pdf
note/meeting_note/meeting_note.synctex.gz
note/research_note/research_note.log
note/research_note/research_note.pdf
note/research_note/research_note.synctex.gz

note/note_SIPLIB2.0.log
note/note_SIPLIB2.0.pdf
note/note_SIPLIB2.0.synctex.gz
